#folder
/Library/
/Temp/
/UnityPackageManager/
/ProjectSettings/
/Assets/Test/
/Assets/StreamingAssets/

#files
/JyGame.csproj
/JyGame.sln

/Assets/FrameworkCore/Modules/AI/README.md
/Assets/FrameworkCore/Modules/AI/README.md.meta
/Assets/FrameworkCore/Modules/Audio/README.md
/Assets/FrameworkCore/Modules/Audio/README.md.meta
/Assets/FrameworkCore/Modules/Data/README.md
/Assets/FrameworkCore/Modules/Data/README.md.meta
/Assets/FrameworkCore/Modules/Event/README.md
/Assets/FrameworkCore/Modules/Event/README.md.meta
/Assets/FrameworkCore/Modules/Log/README.md
/Assets/FrameworkCore/Modules/Log/README.md.meta
/Assets/FrameworkCore/Modules/Network/README.md
/Assets/FrameworkCore/Modules/Network/README.md.meta
/Assets/FrameworkCore/Modules/Object/README.md
/Assets/FrameworkCore/Modules/Object/README.md.meta
/Assets/FrameworkCore/Modules/Script/README.md
/Assets/FrameworkCore/Modules/Script/README.md.meta
/Assets/FrameworkCore/Modules/Thread/README.md
/Assets/FrameworkCore/Modules/Thread/README.md.meta
/Assets/FrameworkCore/Modules/Time/README.md
/Assets/FrameworkCore/Modules/Time/README.md.meta
/Assets/FrameworkCore/Modules/UI/README.md
/Assets/FrameworkCore/Modules/UI/README.md.meta
/Assets/FrameworkCore/Modules/Util/README.md
/Assets/FrameworkCore/Modules/Util/README.md.meta

/Assets/Test.meta
/Assets/StreamingAssets.meat

#Suffix
*.csproj
*.sln
*.vs